<link rel="stylesheet" href="bootstrap.min.css">
<link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog.css">
<link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog-theme-default.css">
<link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog-theme-plain.css">
 <link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.css">
<body ng-app="exampleDialog" ng-controller="MainCtrl">
<div >
<button type="button" ng-dialog="firstDialogId" ng-dialog-controller="InsideCtrl" ng-dialog-data="{{jsonData}}" ng-dialog-class="ngdialog-theme-default" ng-dialog-show-close="true">Open via directive</button>
<a href ng-click="openTemplate()">open template</a>
<a href ng-click="openPlain()">open plain</a>
<a href ng-click="openDefault()">open default</a>
<div>
<p>{{feed.back}}</p>
<p>{{feed.content}}</p>
<p>{{currentdate}}</p>
<p>{{baseurl}}</p>
<p>{{testurl}}</p>
<p ng-show="showpele">this decide is correct</p>
<button ng-click="removedate()">remove</button><br><br>
<p>hello github<p>
<a ng-href="https://github.com/" >Github</a>
</div>

<div>
<a ng-click="clickOnUpload(); $event.stopPropagation();" id="com.hp.mycomp"> Something </a>
</div>


<script src="jquery-3.1.1.min.js"></script>
<script src="angular.min.js"></script>
<script src="bower_components/ng-dialog/js/ngDialog.js"></script>


<script type="text/ng-template" id="firstDialogId">
<div class="ngdialog-message">
<h3>ngDialog template</h3>
<p ng-show="theme">Test content for <code>{{theme}}</code></p>
<p ng-show="ngDialogData.foo">Data passed through directive: <code>{{ngDialogData.foo}}</code></p>
</div>
<div class="ngdialog-buttons">
<button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="openSecond()">Open next</button>
</div>
</script>



<script>
var app = angular.module('exampleDialog', ['ngDialog']);
app.controller('MainCtrl', function ($scope, $rootScope, ngDialog ,$filter, $location, $timeout ) {
$rootScope.jsonData = '{"foo": "bar"}';
// test date timezone
//$rootScope.currentdate=new Date();
var apps=[];
//if(apps === undefined || apps.length == 0 ){
//  alert("hallo, empty apps");
//  console.log("hallo, empty apps");
//}

var apps2={"one": "","two": "two","three": "three"};
//if(apps2.group === undefined ){
//  alert("hallo, got no app group");
//}

//if(apps2.one === ''){
//  alert("hallo, got empty property");
//}


var today = $filter('date')(new Date(),'yyyy-MM-dd HH:mm:ss Z');
$rootScope.baseurl=$location.absUrl();
var parasfromUrl= $location.search();
$rootScope.testurl=parasfromUrl.firstname;

$rootScope.currentdate=today;
$rootScope.removedate = function(){
  delete $rootScope.currentdate;
};
/*
if($rootScope.baseurl !== null){
  $timeout(function(){
       alert("Hello! I am an alert box!!");
  },1000);
}else{
  $timeout(function(){
       alert("Hello! suck!");
  },3000);
}
*/
$scope.clickOnUpload = function () {
  alert("Hello! sweetie! Carina");
};

//if(1>0){
var sid="com.hp.mycomp";
$timeout(function() {
//  var sid="#com.hp.mycomp";
  angular.element(document.getElementById(sid)).triggerHandler('click');
}, 500);
//}


$rootScope.testexist=true;
if($rootScope.testexist == false){
  $rootScope.showpele=true;
}



$rootScope.theme = 'ngdialog-theme-default';
$scope.open = function () {
ngDialog.open({ template: 'firstDialogId', controller: 'InsideCtrl' });
};


$scope.openDefault = function () {
ngDialog.open({
template: 'firstDialogId',
controller: 'InsideCtrl',
className: 'ngdialog-theme-default'
});
};

$scope.openPlain = function () {
$rootScope.theme = 'ngdialog-theme-plain';
ngDialog.open({
template: 'firstDialogId',
controller: 'InsideCtrl',
className: 'ngdialog-theme-plain'
});
};

$scope.openTemplate = function () {
$scope.value = true;
ngDialog.open({
template: 'externalTemplate.html',
controller: 'InsideCtrl',
className: 'ngdialog-theme-default',
scope: $scope
});
}

});


app.controller('InsideCtrl', function ($scope, $rootScope, ngDialog) {
//$rootScope.avgstars=3.5;
$scope.openSecond = function () {
ngDialog.open({
/*template: '<h3>' +
          '<a href="" ng-click="closeSecond()">Close all by click here!</a>'+
          '</h3>',
*/
template:  '<h3 style="text-align:center">Rating</h3>'

           + '<p style="text-align:center">{{ acturalavgstars }}</p><div class="star-rating" avgstar-rating rating-value="{{avgstars}}" data-max="5"  style="text-align:center"> </div><br>'
           + '<form style="text-align:center"><textarea rows="5" cols="20" class="form-control" ng-model=feed.content placeholder="tell us your advise"></textarea><br><br>'
           + '<button class="btn" ng-click="closeSecond()">Commit</button> &nbsp;&nbsp; <button class="btn" ng-click="closeSecond()">Concel</button></form>',
plain: true,
closeByEscape: false,
//controller: 'SecondModalCtrl'
controller: 'RatingCtrl'
});
};
});

app.controller('SecondModalCtrl', function ($scope, ngDialog) {
$scope.closeSecond = function () {
ngDialog.close();
};
});

app.controller('RatingCtrl', function ($scope, $rootScope, ngDialog) {

  var scores=0.3;
  var prescores=scores*10 % 10; //model of scores/10
  if(prescores==0 || prescores>=5){
     prescores=scores;
  }else{
    prescores=scores-1;
  }

  $rootScope.acturalavgstars=scores;
  $rootScope.avgstars=prescores;
  $rootScope.feed={back: 0, content: ""};
  $scope.closeSecond = function () {
  ngDialog.close();
  };
});

app.directive('avgstarRating',
function() {
 return {
   restrict : 'A',
   template : '<ul class="rating">'
            + '	<li ng-repeat="star in stars" ng-class="star" class="fa fa-star active">'
            + '</li>'
            + '</ul>',
   scope : {
     ratingValue : '@',
     max : '=',
     onRatingSelected : '&'
   },

   link : function(scope, elem, attrs) {
     var updateStars = function() {
       scope.stars = [];
       for ( var i = 0; i < scope.max; i++) {
         scope.stars.push({
           filled : i < scope.ratingValue
         });
       }
     };

     scope.$watch('ratingValue',
       function(oldVal, newVal) {
         if (newVal) {
           updateStars();
         }
       }
     );
   }
 };
});

</script>
<style>
.rating{
  color: #D1D1D1;
  margin: 0;
  padding: 0;
}

ul.rating {
  display: inline-block;
}

.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 4px;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.rating .filled {
 color: #FDE35E;
}
</style>

</div>
</body>
